<div class="container">
      <div class="title">
        <div class="title1">About Me</div>
      </div>


      <div class="column-layout">
          <div class="main-column">
            <h3>Introduction</h3>
            <p>Hello, I'm Morty and I am business with experience in Engineering and Root Cause Analysis. Now, I specialize in helping businesses grow using everything I know about Full Stack web development.</p>
            <p>I’ve been coding for over 3 years and currently live in Stone Mountain, GA with my wife, Maria and our children, Jada, Jordan and Justin.</p>
            <p>You might call me a consultant, but I do a lot more than that. I work to build a relationship that helps with continuous website improvement, especially backend authentication and encryption.</p>
            <p>From the initial conversation to the day of launch, there’s one thing I’m trying to do, grow your business. My speciality is helping small to medium-sized businesses get more customers online, which I do using design and code.</p>
            <p>When I’m not working on client projects, I’m either following motorsports or spending time with my family or finding new ways to bring more value to my clients at an affordable price.</p>
          </div>

          <div class="sidebar-one">
            <h3></h3>
            <p></p>
          </div>

          <div class="sidebar-two">
            <h3></h3>
            <p></p>
          </div>
        </div>

        <div class="fixed-size-container">
          <div class="fixed-size">
            <img src="./assets/img/1965-min.jpg" class="img-responsive">
            <div class="label">Our wedding day.</div>
          </div>
          <div class="fixed-size">
            <img src="./assets/img/1937-min.jpg" class="img-responsive">
            <div class="label">Jordan, Jada, and Justin.</div>
          </div>
          <div class="fixed-size">
            <img src="./assets/img/mnbracing-min.jpg" class="img-responsive">
            <div class="label">Out for a relaxing drive.</div>
          </div>
        </div>
        <div class="column-layout">
          <div class="main-column">
            <h3>What I Do</h3>
            <p>Software programs and codes are merely tools to build a business advantage. It’s the people who use them and the experiences they have while using them that matter the most.</p>
            <p>That’s why creating functional, front to back end websites which are centred around the customer is essential to growing your business online.</p>
            <p>Basically, I solve common, and not so common, business problems using modern coding design.</p>
            <p>If you would like to talk about a project, please send me an email at:<a aria-hidden="true" title="(Morty Buckles Email) " href= "https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=bucklesm21@gmail.com&su=Portfolio%20Inquiry&body=1.Please%20enter%20your%20name:%0A%0A2.%20Please%20enter%20your%20email:%0A%0A3.%20How%20can%20I%20help?" target="_blank" ><span class="contact"> bucklesm21@gmail.com</span></a></p>
          </div>

          <div class="sidebar-one">
            <p></p>
          </div>
          <div class="sidebar-two">
            <p></p>
          </div>
        </div>
      </div>
