<div class="container">
  <div class="title">
    <div class="title1">Contact Me</div>
  </div>
    <p class="text-center"><strong>Availability</strong>: I’m currently available for freelance projects.</p>
    <p class="text-center"><strong>Quote</strong>: Want to discuss a project? Just click below and I’ll get back to you ASAP!</p>

  <div class="request">
    <div class="services-contact">
      <a  class="glyphicon glyphicon-envelope contact" aria-hidden="true" title="(Morty Buckles Email)"  href= "https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=bucklesm21@gmail.com&su=Portfolio%20Inquiry&body=1.Please%20enter%20your%20name:%0A%0A2.%20Please%20enter%20your%20email:%0A%0A3.%20How%20can%20I%20help?" target="_blank">
      <span class="contact"> bucklesm21@gmail.com</span>
      </a>
    </div>
  </div>
</div>
