/* .jumbotron.contact{
  background: none;
  margin: 75px auto 150px auto;
} */
a.glyphicon.glyphicon-envelope.contact {
  font-size: 2.5em;
  top: 0.5em;
  text-decoration: none;
}
.title {
  height: 40px;
  margin: 40px auto 65px auto;
  display: flex;
}
.title1 {
  font-size: 50px;
  margin: auto;
}
.request {
  height: 40px;
  margin: 20px auto 60px auto;
  display: flex;
}
.services-contact {
  margin: 20px auto 40px auto;

}
p {
  margin: 0 0 10px;
  font-size: 1.75em;
}
.container {
  max-width: 80%;
  margin: auto;
  font-family: 'Roboto Slab', serif;
  flex-direction: column;
}

