<div class="container-fluid text-center">
  <div class="jumbotron ">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Portfolio</h1>
        <p class="lead">
          The following Back End javascript projects are both MEAN(Mongoose, Express, Angular, and Node) and Mongoose, Express, Node, and EJS. The technologies used to code the projects are the Bing API, Yelp Fusion API, Google API, Socket.IO and a custom API for
          the Voting App. Some of the CSS is supported by Masonry and the site uses Isotope.The following Front End JavaScript projects were made using mostly React and the CSS is mostly supported by JQuery and Bootstrap libraries.  The following Data Visual projects were made React and D3js technologies to combine the visual and the Javascript.
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="container-fluid" >
    <div class="row" id="portfolio">
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://ng-quote.herokuapp.com/" target="_blank">
          <img src="./assets/img/Random Quote.png" class="img-responsive">
          Random Quote Generator
        </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://ng-map.herokuapp.com/runs" target="_blank">
          <img src="./assets/img/run-journal.jpg" class="img-responsive">
          Run Journal
        </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://ng-image-app.herokuapp.com/" target="_blank">
          <img src="./assets/img/ImageSearch.png" class="img-responsive">
          Google Image Search
        </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item  ">
        <a href="https://ng-chatbot.herokuapp.com/" target="_blank">
          <img src="./assets/img/Chatbot.png" class="img-responsive">
          Angular Chatbot
        </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item ">
        <a href="https://new-angular-weather.herokuapp.com/" target="_blank">
          <img src="./assets/img/Weather App.png" class="img-responsive">
          Weather App
        </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://ng-quote.herokuapp.com/" target="_blank">
          <img src="./assets/img/Random Quote.png" class="img-responsive">
          Random Quote Generator
        </a>
      </mat-card>

      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://new-nightlife-app.herokuapp.com/" target="_blank ">
        <img src="./assets/img/Nightlife App.png" class="img-responsive">
        Nightlife Coordination App
      </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mb-yelp-clone-app.herokuapp.com/" target="_blank ">
        <img src="./assets/img/Yelp Clone.png" class="img-responsive">
        Yelp Clone App
      </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mb-voting-app.herokuapp.com/" target="_blank ">
        <img src="./assets/img/VotingApp.png" class="img-responsive">
        Voting App
      </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mb-stock-app.herokuapp.com/" target="_blank ">
        <img src="./assets/img/MB Stock Tracker.png" class="img-responsive">
        Stock Price App
      </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mb-book-trading-app.herokuapp.com/" target="_blank ">
        <img src="./assets/img/MB Book Trading App.png" class="img-responsive">
        Book Trading App
      </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mb-pinterest-clone-app.herokuapp.com/" target="_blank ">
        <img src="./assets/img/Pinterest Clone.png" class="img-responsive">
        Pinterest Clone App
      </a>
      </mat-card>

      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mbmeteor.herokuapp.com/" target="_blank ">
        <img src="./assets/img/MB Meteor.png" class="img-responsive">
        Meteor Strikes
          </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mbforcegraph.herokuapp.com/" target="_blank ">
          <img src="./assets/img/MBForce Graph.png" class="img-responsive">
          Force Directed Graph by Nationality  </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mbsurftemp.herokuapp.com/" target="_blank ">
            <img src="./assets/img/MB Surface Temps.png" class="img-responsive">
            Monthly Global Land-Surface Temperature  </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mbbarchart.herokuapp.com/" target="_blank ">
              <img src="./assets/img/MB Bar Chart.png" class="img-responsive">
              U.S. Quarterly Gross Domestic Product  </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mbcycling.herokuapp.com/" target="_blank ">
                <img src="./assets/img/MB Cycling.png" class="img-responsive">
                Controversial Cycling Times up Alpe d'Huez  </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mbmarkdown.herokuapp.com/" target="_blank ">
                  <img src="./assets/img/MB Markdown.png" class="img-responsive">
                  Markdown Previewer  </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mbleaderboard.herokuapp.com/" target="_blank ">
                    <img src="./assets/img/MB Leaderboard.png" class="img-responsive">
                    Camp Leaderborard  </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mbrecipebox.herokuapp.com/" target="_blank ">
                      <img src="./assets/img/MB Recipe Box.png" class="img-responsive">
                      React Recipe Box  </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mbgameoflife.herokuapp.com/" target="_blank ">
                        <img src="./assets/img/MB Game of Life.png" class="img-responsive">
                        Game of Life  </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mbdungeon.herokuapp.com/" target="_blank ">
                          <img src="./assets/img/MB Dungeon Crawler.png" class="img-responsive">
                          Dungeon Crawler Game  </a>
      </mat-card>

      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mbcaculator.herokuapp.com/" target="_blank ">
                            <img src="./assets/img/MB Calculator.png" class="img-responsive">
                            Javascript Calculator
                          </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mbpomodoro.herokuapp.com/" target="_blank ">
                            <img src="./assets/img/MB Pomodoro.png" class="img-responsive">
                            Pomodoro Clock
                          </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mbwiki.herokuapp.com/" target="_blank ">
                            <img src="./assets/img/MB Wiki.png" class="img-responsive">
                            Wikipedia Search API
                          </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mbtwitchtv.herokuapp.com/" target="_blank ">
                            <img src="./assets/img/MB Twitch TV.png" class="img-responsive">
                            Twitch TV App
                          </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mbtictactoe.herokuapp.com/" target="_blank ">
                            <img src="./assets/img/TicTacToe.png" class="img-responsive">
                            Tic-Tac-Toe
                          </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://mbsimon.herokuapp.com/" target="_blank ">
                            <img src="./assets/img/MB Simon.png" class="img-responsive">
                            80's Javascript Game
                          </a>
      </mat-card>
    </div>
  </div>
</div>
