<mat-card>
  <div class="container">
    <div class="title">
      <div class="title1">Portfolio</div>
    </div>
    <div class="main">
      <p>The most recent PWA projects combine Angular 5 and 6 with Google Firebase and Firestore to get, present and store data.</p>
      <p>Subsequent projects utilize the MEAN(Mongoose, Express, AngularJS, and Node) and Mongoose, Express, Node, and EJS to
        get, present and store data.</p>
      <p>The API technologies used to code the projects are the Bing API, Yelp Fusion API, Google API, Socket.IO and a custom
        API for the Voting app. The CSS is supported by Angular/Material, Flexbox, Masonry, Isotope, JQuery and Bootstrap
        libraries.</p>
    </div>
  </div>

  <hr>

  <div class="fixed-size-container">
    <div class="fixed-size">
      <a href="https://quote-app-6ed6d.firebaseapp.com/" target="_blank">
        <img src="./assets/img/random-quote-min.png" class="img-responsive"> PWA Random Quote Generator
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://run-journal-6a684.firebaseapp.com/" target="_blank">
        <img src="./assets/img/run-journal-min.png" class="img-responsive"> PWA Run Journal
      </a>
    </div>
    <!-- <div class="fixed-size">
          <a href="https://ng-image-app.herokuapp.com/" target="_blank">
            <img src="./assets/img/ImageSearch-min.png" class="img-responsive">
            Google Image Search
          </a>
      </div> -->
    <div class="fixed-size">
      <a href="https://ng-chatbot-f579a.firebaseapp.com/" target="_blank">
        <img src="./assets/img/chatbot-min.png" class="img-responsive"> PWA Angular Chatbot
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://weather-app-44d0d.firebaseapp.com/" target="_blank">
        <img src="./assets/img/weather-app-min.png" class="img-responsive"> PWA Weather App
      </a>
    </div>
    <div class="fixed-size ">
      <a href="https://banking-app-1859f.firebaseapp.com/" target="_blank" alt="Angular5 PWA logo" rel="noopener">
        <img src="./assets/img/banking-min.png" class="img-responsive" alt="Banking"> PWA Bank Sample App
      </a>
    </div>
    <div class="fixed-size ">
      <a href="https://inventory-46aa9.firebaseapp.com/" target="_blank" alt="Angular5 PWA logo" rel="noopener">
        <img src="./assets/img/inventory-min.png" class="img-responsive" alt="Inventory"> PWA Inventory List
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://new-nightlife-app.herokuapp.com/" target="_blank ">
        <img src="./assets/img/nightlife-app.png" class="img-responsive"> Nightlife Coordination App
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mb-yelp-clone-app.herokuapp.com/" target="_blank ">
        <img src="./assets/img/yelp-clone.png" class="img-responsive"> Yelp Clone App
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mb-voting-app.herokuapp.com/" target="_blank ">
        <img src="./assets/img/votingapp.png" class="img-responsive"> Voting App
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mb-stock-app.herokuapp.com/" target="_blank ">
        <img src="./assets/img/mb-stock-tracker.png" class="img-responsive"> Stock Price App
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mb-book-trading-app.herokuapp.com/" target="_blank ">
        <img src="./assets/img/mb-book-trading-app.png" class="img-responsive"> Book Trading App
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mb-pinterest-clone-app.herokuapp.com/" target="_blank ">
        <img src="./assets/img/pinterest-clone.png" class="img-responsive"> Pinterest Clone App
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mbmeteor.herokuapp.com/" target="_blank ">
        <img src="./assets/img/mb-meteor.png" class="img-responsive"> Meteor Strikes
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mbforcegraph.herokuapp.com/" target="_blank ">
        <img src="./assets/img/mbforce-graph.png" class="img-responsive"> Force Directed Graph by Nationality
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mbsurftemp.herokuapp.com/" target="_blank ">
        <img src="./assets/img/mb-surface-temps.png" class="img-responsive"> Monthly Global Land-Surface Temperature
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mbbarchart.herokuapp.com/" target="_blank ">
        <img src="./assets/img/mb-bar-chart.png" class="img-responsive"> U.S. Quarterly Gross Domestic Product
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mbcycling.herokuapp.com/" target="_blank ">
        <img src="./assets/img/mb-cycling.png" class="img-responsive"> Controversial Cycling Times up Alpe d'Huez
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mbmarkdown.herokuapp.com/" target="_blank ">
        <img src="./assets/img/mb-markdown.png" class="img-responsive"> Markdown Previewer
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mbleaderboard.herokuapp.com/" target="_blank ">
        <img src="./assets/img/mb-leaderboard.png" class="img-responsive"> Camp Leaderborard
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mbrecipebox.herokuapp.com/" target="_blank ">
        <img src="./assets/img/mb-recipe-box.png" class="img-responsive"> React Recipe Box
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mbgameoflife.herokuapp.com/" target="_blank ">
        <img src="./assets/img/mb-game-of-life.png" class="img-responsive"> Game of Life
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mbdungeon.herokuapp.com/" target="_blank ">
        <img src="./assets/img/mb-dungeon-crawler.png" class="img-responsive"> Dungeon Crawler Game
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mbcaculator.herokuapp.com/" target="_blank ">
        <img src="./assets/img/mb-calculator.png" class="img-responsive"> Javascript Calculator
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mbpomodoro.herokuapp.com/" target="_blank ">
        <img src="./assets/img/mb-pomodoro.png" class="img-responsive"> Pomodoro Clock
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mbwiki.herokuapp.com/" target="_blank ">
        <img src="./assets/img/mb-wiki.png" class="img-responsive"> Wikipedia Search API
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mbtwitchtv.herokuapp.com/" target="_blank ">
        <img src="./assets/img/mb-twitch-tv.png" class="img-responsive"> Twitch TV App
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mbtictactoe.herokuapp.com/" target="_blank ">
        <img src="./assets/img/tictactoe.png" class="img-responsive"> Tic-Tac-Toe
      </a>
    </div>
    <div class="fixed-size">
      <a href="https://mbsimon.herokuapp.com/" target="_blank ">
        <img src="./assets/img/mb-simon.png" class="img-responsive"> 80's Javascript Game
      </a>
    </div>
  </div>
</mat-card>
