<div class="container navbar">
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item><a routerLink="/" routerLinkActive="active">Home</a></button>
  <button mat-menu-item><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></button>
  <button mat-menu-item><a routerLink="/services" routerLinkActive="active">Services</a></button>
  <button mat-menu-item><a routerLink="/contact" routerLinkActive="active">Contact</a></button>
  <button mat-menu-item><a routerLink="/about" routerLinkActive="active">About</a></button>
</mat-menu>
<p class="navbar">Morty Buckles Portfolio</p>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
