.mat-button {
  color: #f0f0f0;
  background-color: #000000;
  font-weight: bold;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

div.navbar {
  background-color: #000000;
  width: 100%;
}

p.navbar {
  display: inline-block;
  color: #f0f0f0;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 425px;
  margin-top: 20px;
}
