<div class="container">
    <div class="title">
      <div class="title1">Services</div>
    </div>
    <div class="title2">
        <div class="title3">Back End</div>
    </div>
    <div>
      <ul>
        <li>Experienced in Angular Firestore cloud applications and Amazon Web Services data storage applications</li>
        <li>Experience with Node and Express server applications from development to production. Specialize in Angular, EJS, and Jade to connect the server front and back end.</li>
        <li>Experience with Mongoose databases manipulation and routes to the Front End.</li>
        <li>Specialize in Passport.js logins configuration for custom encryption or social media authentications such as Google, Facebook, Twitter, ect.</li>
        <li>I work with REST API's from Google, Bing, Yelp and others to retrieve data make it available for the Front End.</li>
      </ul>
    </div>
    <div class="title2">
        <div class="title3">Front End</div>
    </div>
  <div>
    <ul>
      <li>Experienced with Angular 5/6 and React Front End design and layout.</li>
      <li>Experience with using Firebase Cloudstore and Authentication.</li>
      <li>Familiar with flex-box and responsive design to help achieve Progressive Web Apps designed with best practices.</li>
      <li>Familiar with HTML layouts using Bootstrap and Jquery to aid the CSS. </li>
      <li>Experience using Font Awesome icons and Google Fonts to help enhance website appearances.</li>
    </ul>
  </div>
  <div class="request">
    <div class="services-contact">
      <a  aria-hidden="true" title="(Morty Buckles Email) " href= "https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=bucklesm21@gmail.com&su=Portfolio%20Inquiry&body=1.Please%20enter%20your%20name:%0A%0A2.%20Please%20enter%20your%20email:%0A%0A3.%20How%20can%20I%20help?" target="_blank" >Click to request a quote</a>
    </div>
  </div>
  </div>
