.jumbotron{
  background: none;
  margin: 75px auto;
}
span.services-main {
  text-align: center;
  font-size: 2.5em;
}
span.services-body {
    text-align: center;
    font-size: 2.0em;
}
.services-heading {
  margin-bottom: 20px;
}
.services-heading2 {
  text-align: left;
  margin-bottom: 35px;
}
a.fa.fa-server.services-left {
  font-size: 7.5em;
  text-decoration: none;
  margin-top: 90px;
}
li {
  text-align: left;
  font-size: 1.4em;
}
#frontend, #backend {
  margin-top: 40px;
}
a {
  font-size: 2.5em;
  top: 0.5em;
  text-decoration: none;
}
div.services-contact {
  margin-top: 50px;
}
