<div class="container-fluid text-center">
    <div class="jumbotron ">

      <div class="services-heading">
        <span class="services-main">Services</span>
      </div>

        <div class="row">
          <div class="col-md-1 services-left" id="backend">
            <!-- <a  class="fa fa-server services-left" aria-hidden="true" title="(Morty Buckles Email) " href= "https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=bucklesm21@gmail.com&su=Portfolio%20Inquiry&body=1.Please%20enter%20your%20name:%0A%0A2.%20Please%20enter%20your%20email:%0A%0A3.%20How%20can%20I%20help?" target="_blank" ><span class="contact"></span></a></p> -->
          </div>
          <div class="col-md-12 services-left">
           <div class="services-heading2">
              <span class="services-body">Back End</span>
          </div>
            <ul>
              <li>Specialize in JavaScript based Back End codes and functions aided by React libraries.</li>
              <li>Experience with Node and Express server applications from development to production. Specialize in Angular, EJS, and Jade to connect the server front and back end.</li>
              <li>Experience with Mongoose databases manipulation and routes to the Front End.</li>
              <li>Specialize in Passport.js logins configuration for custom encryption or social media authentications such as Google, Facebook, Twitter, ect.</li>
              <li>I work with REST API's from Google, Bing, Yelp and others to retrieve data make it available for the Front End.</li>
            </ul>
          </div>
          <br>
          <hr>
          <div class="col-md-1 services-left" id="frontend">
          </div>
          <div class="col-md-12 services-left">
            <div class="services-heading2">
              <span class="services-body">Front End</span>
            </div>
            <ul>
              <li>Familiar with HTML layouts using Bootstrap and Jquery to aid the CSS. </li>
              <li>Experience with using scripts for Masonry.js and Isotope image layouts.</li>
              <li>Experience using Font Awesome icons and Google Fonts to help enhance website appearances.</li>
            </ul>
            <div class="services-contact">
              <a  aria-hidden="true" title="(Morty Buckles Email) " href= "https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=bucklesm21@gmail.com&su=Portfolio%20Inquiry&body=1.Please%20enter%20your%20name:%0A%0A2.%20Please%20enter%20your%20email:%0A%0A3.%20How%20can%20I%20help?" target="_blank" >Click to request a quote</a>
            </div>
          </div>
        </div>

      </div>
      </div>


