<div class="container">

  <mat-card>
    <div class="column-layout">
      <div class="side-one">
        <h1>Morty Buckles - Full Stack / PWA Web Developer</h1>
      </div>
      <div class="main">
        <a href="/aboutme" alt="M Buckles">
          <img class="image1 " alt="Morty Buckles Photo image " rel="noopener" src="./assets/img/main-min.jpg">
        </a>
      </div>
      <div class="side-two">
        <p>Hello, I'm Morty Buckles and I specialize in helping businesses grow using everything I know about Angular progressive Web App and Full Stack web development. This site is a PWA.</p>
        <p>I work to build a relationship that helps with continuous Progresive Web App website improvement, especially backend authentication and encryption.</p>
        <p>My speciality is helping small to medium-sized businesses get more customers online through PWA's using design and code.</p>
      </div>
    </div>
    </mat-card>

    <mat-card>


      <div class="portfolio-title">
        <div class="portfolio-title2">
          <h1>Featured Angular 5 PWA Projects:</h1>
        </div>
      </div>

      <div class="fixed-size-container">
        <div class="fixed-size">
          <a href="https://quote-app-6ed6d.firebaseapp.com/"  target="_blank" alt="Angular5 PWA logo" rel="noopener">
                <img src="./assets/img/random-quote-min.png" class="img-responsive" alt="Random Quote">
            PWA Random Quote Generator
          </a>
        </div>
        <!-- <div class="fixed-size">
          <a href="https://ng-image-app.herokuapp.com/"  target="_blank" alt="Angular5 PWA logo" rel="noopener">
            <img src="./assets/img/ImageSearch-min.png" class="img-responsive" alt="Image Search">
            Google Image Search
          </a>
        </div> -->
        <div class="fixed-size  ">
          <a href="https://ng-chatbot-f579a.firebaseapp.com/" target="_blank" alt="Angular5 PWA logo" rel="noopener">
            <img src="./assets/img/chatbot-min.png" class="img-responsive" alt="Chatbot">
            PWA Angular Chatbot
          </a>
        </div>
        <div class="fixed-size ">
          <a href="https://weather-app-44d0d.firebaseapp.com/" target="_blank" alt="Angular5 PWA logo" rel="noopener">
            <img src="./assets/img/weather-app-min.png" class="img-responsive" alt="Weather App">
            PWA Weather App
          </a>
        </div>
        <div class="fixed-size ">
          <a href="https://inventory-46aa9.firebaseapp.com/" target="_blank" alt="Angular5 PWA logo" rel="noopener">
            <img src="./assets/img/inventory-min.png" class="img-responsive" alt="Inventory">
            PWA Inventory List
          </a>
        </div>
        <div class="fixed-size ">
          <a href="https://banking-app-1859f.firebaseapp.com/" target="_blank" alt="Angular5 PWA logo" rel="noopener">
            <img src="./assets/img/banking-min.png" class="img-responsive" alt="Banking">
            PWA Bank Sample App
          </a>
        </div>
        <div class="fixed-size ">
          <a href="https://run-journal-6a684.firebaseapp.com/" target="_blank" alt="Angular5 PWA logo" rel="noopener">
            <img src="./assets/img/run-journal-min.png" class="img-responsive" alt="Run Journal">
            PWA Run Log
          </a>
        </div>
        <!-- <div class="fixed-size ">
          <a href="https://fir-login-b37b1.firebaseapp.com/" target="_blank" alt="Angular5 PWA logo" rel="noopener">
            <img src="./assets/img/NG Gallery-min.png" class="img-responsive" alt="NG Gallery">
            NG Gallery
          </a>
        </div> -->
      </div>
    </mat-card>

</div>
