<div class="container">

  <mat-card>
    <div class="column-layout">
      <div class="side-one">
        <h1>Morty Buckles</h1>
        <h2>Full Stack / Web Developer</h2>
      </div>

      <div class="main">
        <a href="/aboutme" alt="M Buckles"><img class="image1 " alt="Morty Buckles Photo image " rel="noopener" src="./assets/img/main.jpg"></a>
      </div>
    </div>


    <div class="portfolio-main">
      <div class="portfolio-main2">
        <p>Hello, I'm Morty and I am business with experience in Engineering and Root Cause Analysis. Now, I specialize in helping businesses grow using everything I know about Full Stack web development.</p>
        <p>I work to build a relationship that helps with continuous website improvement, especially backend authentication and encryption.</p>
        <p>My speciality is helping small to medium-sized businesses get more customers online, which I do using design and code.</p>
      </div>
    </div>
                  <!-- <div class="container">
                    </div> -->
      <!-- <div class="side-two">
        <p>Hello, I'm Morty and I am business with experience in Engineering and Root Cause Analysis. Now, I specialize in helping businesses grow using everything I know about Full Stack web development.</p>
        <p>I work to build a relationship that helps with continuous website improvement, especially backend authentication and encryption.</p>
        <p>My speciality is helping small to medium-sized businesses get more customers online, which I do using design and code.</p>
      </div> -->

    </mat-card>

    <mat-card>
      <div class="portfolio-title">
        <div class="portfolio-title2">
          <h1>Featured Angular 5 Projects:</h1>
        </div>
      </div>

      <div class="fixed-size-container">
        <div class="fixed-size">
          <a href="https://ng-quote.herokuapp.com/"  target="_blank" alt="Angular5 PWA logo" rel="noopener">
            <img src="./assets/img/Random Quote.png" class="img-responsive" alt="Random Quote">
            Random Quote Generator
          </a>
        </div>
        <div class="fixed-size">
          <a href="https://ng-image-app.herokuapp.com/"  target="_blank" alt="Angular5 PWA logo" rel="noopener">
            <img src="./assets/img/ImageSearch.png" class="img-responsive" alt="Image Search">
            Google Image Search
          </a>
        </div>
        <div class="fixed-size  ">
          <a href="https://ng-chatbot.herokuapp.com/" target="_blank" alt="Angular5 PWA logo" rel="noopener">
            <img src="./assets/img/Chatbot.png" class="img-responsive" alt="Chatbot">
            Angular Chatbot
          </a>
        </div>
        <div class="fixed-size ">
          <a href="https://new-angular-weather.herokuapp.com/" target="_blank" alt="Angular5 PWA logo" rel="noopener">
            <img src="./assets/img/Weather App.png" class="img-responsive" alt="Weather App">
            Weather App
          </a>
        </div>
        <div class="fixed-size ">
          <a href="https://ng-inventory.herokuapp.com/" target="_blank" alt="Angular5 PWA logo" rel="noopener">
            <img src="./assets/img/Inventory.png" class="img-responsive" alt="Inventory">
            Inventory List
          </a>
        </div>
        <div class="fixed-size ">
          <a href="https://ng-map.herokuapp.com/" target="_blank" alt="Angular5 PWA logo" rel="noopener">
            <img src="./assets/img/RunJournal.png" class="img-responsive" alt="Run Journal">
            Run Log
          </a>
        </div>
        <div class="fixed-size ">
          <a href="https://ng-image.herokuapp.com/login" target="_blank" alt="Angular5 PWA logo" rel="noopener">
            <img src="./assets/img/NG Gallery.png" class="img-responsive" alt="NG Gallery">
            NG Gallery
          </a>
        </div>
      </div>
    </mat-card>

</div>
