<mat-card>
  <div class="container-fluid text-center">
    <div class="jumbotron home">
      <div class="row">
        <div class="morty col-md-6 ">
          <a href="/aboutme">
            <img class="image1 " alt="Morty Buckles Photo image " src="./assets/img/main.jpg">
          </a>
        </div>
        <div class="morty col-md-6 text-center">
          <h1>Morty Buckles</h1>
          <h2>Full Stack / Web Developer</h2>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="portfolio-title text-center">
    <span>Featured work:</span>
  </div>
  <div class="container-fluid">
    <div class="row" id="home">
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://ng-quote.herokuapp.com/" target="_blank">
        <img src="./assets/img/Random Quote.png" class="img-responsive">
        Random Quote Generator
      </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://ng-map.herokuapp.com/runs" target="_blank">
        <img src="./assets/img/run-journal.jpg" class="img-responsive">
        Run Journal
      </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item">
        <a href="https://ng-image-app.herokuapp.com/" target="_blank">
        <img src="./assets/img/ImageSearch.png" class="img-responsive">
        Google Image Search
      </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item  ">
        <a href="https://ng-chatbot.herokuapp.com/" target="_blank">
        <img src="./assets/img/Chatbot.png" class="img-responsive">
        Angular Chatbot
      </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item ">
        <a href="https://new-angular-weather.herokuapp.com/" target="_blank">
        <img src="./assets/img/Weather App.png" class="img-responsive">
        Weather App
      </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item ">
        <a href="https://ng-inventory.herokuapp.com/" target="_blank">
        <img src="./assets/img/Inventory.png" class="img-responsive">
      Inventory List
      </a>
      </mat-card>
      <mat-card class="col-sm-4 portfolio-item ">
        <a href="https://ng-map.herokuapp.com/" target="_blank">
        <img src="./assets/img/RunJournal.png" class="img-responsive">
      Run Log
      </a>
      </mat-card>


    </div>
  </div>

</mat-card>
